# URL where Playwright tests should run against.
# Optional (default: 'http://localhost:3000')
# PLAYWRIGHT_BASE_URL=

# =========================
# Sentry
# =========================

# Sentry DSN used for error tracking
# Optional
# PUBLIC_SENTRY_DSN=

# Auth token used during build to upload source maps
# Optional
# SENTRY_AUTH_TOKEN=

# The base URL of your Sentry instance if using an instance other than sentry.io
# Optional
# SENTRY_URL=

# The slug of the Sentry organization associated with the app
# Optional
# SENTRY_ORG=

# The slug of the Sentry project associated with the app
# Optional
# SENTRY_PROJECT=

# Enable the Sentry example page
# Optional (default: false)
# ENABLE_SENTRY_EXAMPLE_PAGE=

# =========================
# Plausible Analytics
# =========================

# Plausible domain (site ID).
# Optional
# PUBLIC_PLAUSIBLE_DOMAIN=

# Plausible API endpoint
# Optional
# PUBLIC_PLAUSIBLE_ENDPOINT=

# Capture Plausible events on localhost
# Optional (default: false)
# PUBLIC_PLAUSIBLE_CAPTURE_ON_LOCALHOST=
